---
import HTML from "./icons/HTML.astro";
import JavaScript from "./icons/JavaScript.astro";
import React from "./icons/React.astro";
import CSS from "./icons/CSS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Express from "./icons/Express.astro";
import Node from "./icons/Node.astro";

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#20201f] text-white",
    icon: HTML,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#51461d] text-white",
    icon: JavaScript,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-[#003159] text-white",
    icon: Express,
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#20201f] text-white",
    icon: Node,
  },
}
const PROJECTS = [
   {
    title: "Poke-like Game",
    description: "Pequeño juego estilo pokemon, hecho solo con JavaScript Vanilla, curso online de Web Dev Simplified.",
    link:'https://taupe-cobbler-8957b9.netlify.app/',
    github:'https://github.com/Ger2k/Pokenot',
    image: "/projects/Poke.jpg",
    tags: [TAGS.HTML,TAGS.JAVASCRIPT],
   },
   {
    title: "Tic-Tac-Toe",
    description: "3 en raya creado con React para practicar sus conceptos básicos.",
    link:'https://resplendent-malasada-dc4e00.netlify.app/',
    github:'https://github.com/Ger2k/TicTacToe',
    image: "/projects/TicTac.jpg",
    tags: [TAGS.HTML,TAGS.CSS,TAGS.JAVASCRIPT,TAGS.REACT],
   },
   {
    title: "API de gestión de películas",
    description: "Completo sistema de gestión de películas desarrollado como proyecto final para el curso Full-Stack de la Escuela CEI. Este proyecto abarca tanto el diseño del frontend como la implementación del backend, utilizando Node.js y Express.js para crear una API robusta alojada en Render.com. Facilita operaciones CRUD sobre una colección de películas, interactuando con una base de datos MongoDB diseñada y administrada personalmente. Un ejemplo integral de desarrollo full-stack moderno. Debido a que es un servicio gratuito puede tardar un poco al entrar por primera vez",
    link:'https://proyectofs.onrender.com/',
    github:'https://github.com/Ger2k/TicTacToe',
    image: "/projects/Peliculas.jpg",
    tags: [TAGS.HTML,TAGS.CSS,TAGS.JAVASCRIPT,TAGS.EXPRESS,TAGS.NODE],
   },
   {
    title: "Fanweb de videojuegos independientes",
    description: "Mi primera web, una presentación de 3 videojuegos, cada uno con su estilo propio. Trabajo final para el curso de Diseño Web en la Escuela CEI.",
    link:'https://idyllic-fenglisu-5c0cb1.netlify.app/',
    github:'https://github.com/Ger2k/TicTacToe',
    image: "/projects/Devolver.jpg",
    tags: [TAGS.HTML,TAGS.CSS,TAGS.JAVASCRIPT],
   }, 
]
---
<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link}) => (
            <article>
                <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2" >{title}</h3>
                <p class="text-lg mb-4 text-pretty" >{description}</p>
                <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map(tag => (
                        <li>
                            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
                                <tag.icon class="size-4" /> 
                                {tag.name}
                            </span>                 
                        </li>
                    ))}
                </ul>
                <a 
                  href={link}
                  target="_blank"
                >
                  <img 
                      class="rounded shadow-2xl shadow-white/10" 
                      src={image} 
                      alt={`Captura de pantalla del proyecto ${image}`}
                  />
                </a>
            </article>
        ))
    }
</div>